<div class="wrapper">
  <div class="wrapper-login">
    <div class="progress">
      <mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="img">
      <img src="/assets/angular.png">
    </div>
    <h1 class="mat-h3"> login</h1>
    <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. example@example.com">
      </mat-form-field>
      <mat-form-field class="input" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>


      <button class="input" mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">login</button>

    </form>
  </div>
</div>
