.wrapper,.select-wrapper,.submit-wrapper{
  width: 100%;
}

.select-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .item{
    margin: 0 10px;
  }
  button{
    width: 60px;
    height: 51px;
    margin: 0 10px;
  }
}

@media only screen and (max-width: 768px) {
  .item{
    width: 100%;
  }
}
