<mat-drawer-container style="min-height: 100vh;" [hasBackdrop]="true">

  <mat-drawer  style="width:200px;height: 100vh" #drawer mode="over">
    <div class="drawer" >
      <h2>menu</h2>
      <button mat-stroked-button color="primary" (click)="singOut()">sign out</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <app-top-tool-bar [email]="email" (toggle)="toggle()"></app-top-tool-bar>

    <div class="progress">
      <mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>
    </div>

    <app-add-record (loading)="setLoading($event)"></app-add-record>

    <app-table (loading)="setLoading($event)"></app-table>

  </mat-drawer-content>

</mat-drawer-container>
